@import "tailwindcss";
@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/576d53/00000000000000003b9b3294/27/l?primer=7cdcb44be4a7db887702a00508f0521&fvd=n6&v=3") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.font-proxima {
  font-family: "proxima-nova", sans-serif;
}

@keyframes modalIn {
  from { opacity: 0; transform: scale(0.95) translateY(-20px); }
  to { opacity: 1; transform: scale(1) translateY(0); }
}

.animate-modal {
  animation: modalIn 0.3s ease-out forwards;
}

/* Estilo para los inputs del Admin Form */
.admin-input {
  @apply w-full border-b-2 border-gray-200 py-2 outline-none transition-all duration-300;
}

.admin-input:focus {
  @apply border-[#007f5f] text-slate-900;
}

.admin-label {
  @apply text-[10px] uppercase tracking-widest text-gray-400 font-bold mb-1 block;
}

/* Estilo para los selectores */
.admin-select {
  @apply w-full border-b-2 border-gray-200 py-2 outline-none bg-transparent cursor-pointer;
}

.admin-select:focus {
  @apply border-[#007f5f];
}