@import "tailwindcss";
@font-face {
  font-family: "proxima-nova";
  src: url("https://use.typekit.net/af/576d53/00000000000000003b9b3294/27/l?primer=7cdcb44be4a7db887702a00508f0521&fvd=n6&v=3") format("woff2");
  font-weight: 400;
  font-style: normal;
}

.font-proxima {
  font-family: "proxima-nova", sans-serif;
}